#social_main {
	@extend %brdr-btm;
	border-top: 1px solid #ddd;
	margin-top: 25px;
}

.social_box {
	border: 1px solid #ddd;
	display:inline-block;
	width: 30%;
	padding:3%;
	margin: 1%;
	background: #eee;
	text-align: center;
	
	@media #{$brk-tablet}{
		padding: 20px 4%;
		text-align: left;
	}		
}

.social-icon {
	background: $color-prim;
	@extend %roundy;
	padding: 10px;
	width:60px;
	height:60px;

	@media #{$brk-tablet} {
		float: left;
		margin-right:20px;
		margin-top:20px;
		width: 70px;
		height: 70px;
	}
}

.social_state {
	width: 60%;
	display: inline-block;

	
	@media #{$brk-tablet}{
		margin-top:20px;
	}
}

.social_media {
	color: $color-prim;
	display: none;
	
	@media #{$brk-tablet}{
		display: initial;
	}
}

.social_number {
	font-size: 1.25em;
	color:$color-typo;
	font-weight: bold;

	@media #{$brk-tablet} {
		font-size: 3em;
		font-weight: initial;
		margin-top:-10px;

	}
}

